{
  "globals": {
    "angular": true,
    "_": true,
    "$": true,
    "Modernizr": true,
    "Detectizr": true,
    "moment": true,
    "sprintf": true,
    "SnapEngage": true,
    "ga": true,
    "smoothScroll": true,
    "element": true,
    "iFrameResize": true,
    "describe": true,
    "beforeEach": true,
    "it": true,
    "module": true,
    "inject": true,
    "expect": true,
    "Pace": true,
    "require": true,
    "Stickyfill": true,
    "Promise": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "comma-dangle": [
      2,
      "never"
    ],
    "no-comma-dangle": [
      0
    ],
    "no-cond-assign": [
      1,
      "always"
    ],
    "no-console": [
      2
    ],
    "no-constant-condition": [
      2
    ],
    "no-control-regex": [
      2
    ],
    "no-debugger": [
      2
    ],
    "no-dupe-args": [
      2
    ],
    "no-dupe-keys": [
      2
    ],
    "no-duplicate-case": [
      2
    ],
    "no-empty": [
      1
    ],
    "no-empty-character-class": [
      2
    ],
    "no-ex-assign": [
      2
    ],
    "no-extra-boolean-cast": [
      2
    ],
    "no-extra-parens": [
      2
    ],
    "no-extra-semi": [
      2
    ],
    "no-func-assign": [
      2
    ],
    "no-inner-declarations": [
      2,
      "functions"
    ],
    "no-invalid-regexp": [
      2
    ],
    "no-irregular-whitespace": [
      2
    ],
    "no-negated-in-lhs": [
      2
    ],
    "no-obj-calls": [
      2
    ],
    "no-regex-spaces": [
      2
    ],
    "no-sparse-arrays": [
      2
    ],
    "no-unreachable": [
      2
    ],
    "use-isnan": [
      2
    ],
    "valid-jsdoc": [
      1
    ],
    "valid-typeof": [
      2
    ],
    "block-scoped-var": [
      2
    ],
    "complexity": [
      1,
      5
    ],
    "consistent-return": [
      1
    ],
    "curly": [
      0
    ],
    "default-case": [
      1
    ],
    "dot-notation": [
      1,
      {
        "allowKeywords": true,
        "allowPattern": "_+"
      }
    ],
    "eqeqeq": [
      2
    ],
    "guard-for-in": [
      2
    ],
    "no-alert": [
      2
    ],
    "no-caller": [
      2
    ],
    "no-div-regex": [
      2
    ],
    "no-else-return": [
      2
    ],
    "no-empty-label": [
      2
    ],
    "no-eq-null": [
      2
    ],
    "no-eval": [
      2
    ],
    "no-extend-native": [
      2
    ],
    "no-extra-bind": [
      1
    ],
    "no-fallthrough": [
      2
    ],
    "no-floating-decimal": [
      2
    ],
    "no-implied-eval": [
      2
    ],
    "no-iterator": [
      2
    ],
    "no-labels": [
      2
    ],
    "no-lone-blocks": [
      2
    ],
    "no-loop-func": [
      2
    ],
    "no-multi-spaces": [
      2
    ],
    "no-multi-str": [
      2
    ],
    "no-native-reassign": [
      2
    ],
    "no-new": [
      2
    ],
    "no-new-func": [
      2
    ],
    "no-new-wrappers": [
      2
    ],
    "no-octal": [
      2
    ],
    "no-octal-escape": [
      2
    ],
    "no-param-reassign": [
      0
    ],
    "no-process-env": [
      0
    ],
    "no-proto": [
      2
    ],
    "no-redeclare": [
      2
    ],
    "no-return-assign": [
      1
    ],
    "no-script-url": [
      2
    ],
    "no-self-compare": [
      2
    ],
    "no-sequences": [
      2
    ],
    "no-throw-literal": [
      2
    ],
    "no-unused-expressions": [
      1
    ],
    "no-void": [
      2
    ],
    "no-warning-comments": [
      1,
      {
        "terms": [
          "todo",
          "fixme",
          "wtf"
        ],
        "location": "start"
      }
    ],
    "no-with": [
      2
    ],
    "radix": [
      2
    ],
    "vars-on-top": [
      2
    ],
    "wrap-iife": [
      2,
      "outside"
    ],
    "yoda": [
      2,
      "never"
    ],
    "global-strict": [
      0
    ],
    "no-extra-strict": [
      0
    ],
    "strict": [
      2,
      "global"
    ],
    "no-catch-shadow": [
      2
    ],
    "no-delete-var": [
      2
    ],
    "no-label-var": [
      2
    ],
    "no-shadow": [
      2
    ],
    "no-shadow-restricted-names": [
      2
    ],
    "no-undef": [
      2
    ],
    "no-undef-init": [
      2
    ],
    "no-undefined": [
      2
    ],
    "no-unused-vars": [
      2
    ],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "handle-callback-err": [
      2,
      "^.*(e|E)rr"
    ],
    "no-mixed-requires": [
      1
    ],
    "no-new-require": [
      2
    ],
    "no-path-concat": [
      2
    ],
    "no-process-exit": [
      2
    ],
    "no-restricted-modules": [
      0
    ],
    "no-sync": [
      2
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": 2
      }
    ],
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": false
      }
    ],
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ],
    "comma-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],
    "comma-style": [
      2,
      "last"
    ],
    "consistent-this": [
      1,
      "self"
    ],
    "eol-last": [
      2
    ],
    "func-names": [
      0
    ],
    "key-spacing": [
      2,
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "max-nested-callbacks": [
      1,
      3
    ],
    "new-cap": [
      2
    ],
    "new-parens": [
      2
    ],
    "newline-after-var": [
      2,
      "always"
    ],
    "no-array-constructor": [
      2
    ],
    "no-inline-comments": [
      0
    ],
    "no-lonely-if": [
      2
    ],
    "no-mixed-spaces-and-tabs": [
      2
    ],
    "no-multiple-empty-lines": [
      2
    ],
    "no-nested-ternary": [
      2
    ],
    "no-new-object": [
      2
    ],
    "no-space-before-semi": [
      0
    ],
    "no-spaced-func": [
      0
    ],
    "no-ternary": [
      0
    ],
    "no-trailing-spaces": [
      0
    ],
    "no-underscore-dangle": [
      2
    ],
    "no-wrap-func": [
      0
    ],
    "one-var": [
      0
    ],
    "operator-assignment": [
      1,
      "always"
    ],
    "padded-blocks": [
      0
    ],
    "quote-props": [
      1,
      "as-needed"
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "semi": [
      2,
      "always"
    ],
    "semi-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],
    "sort-vars": [
      0
    ],
    "space-after-function-name": [
      0
    ],
    "space-after-keywords": [
      0
    ],
    "space-before-blocks": [
      0
    ],
    "space-before-function-paren": [
      0
    ],
    "space-before-function-parentheses": [
      0
    ],
    "space-in-brackets": [
      0
    ],
    "space-in-parens": [
      0
    ],
    "space-infix-ops": [
      0
    ],
    "space-return-throw-case": [
      2
    ],
    "space-unary-ops": [
      2
    ],
    "space-unary-word-ops": [
      0
    ],
    "spaced-comment": [
      2,
      "always"
    ],
    "wrap-regex": [
      0
    ],
    "no-var": [
      0
    ],
    "generator-star": [
      0
    ],
    "generator-star-spacing": [
      0
    ],
    "max-depth": [
      0
    ],
    "max-len": [
      0
    ],
    "max-params": [
      0
    ],
    "max-statements": [
      0
    ],
    "no-bitwise": [
      0
    ],
    "no-plusplus": [
      0
    ]
  }
}
