<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>christoph.hagenbrock@googlemail.com</string>
	<key>dependencies</key>
	<dict>
		<key>ssh2</key>
		<string>^0.2.23</string>
	</dict>
	<key>description</key>
	<string>Easy ssh tunneling</string>
	<key>keywords</key>
	<array>
		<string>tunnel</string>
		<string>ssh</string>
	</array>
	<key>license</key>
	<string>ISC</string>
	<key>main</key>
	<string>index.js</string>
	<key>name</key>
	<string>tunnel-ssh</string>
	<key>scripts</key>
	<dict>
	</dict>
	<key>version</key>
	<string>0.0.3</string>
</dict>
</plist>
